<!DOCTYPE html>
<html lang="en">

<head>
    <title>cart</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/style/cart.css}" >
    <link rel="stylesheet" th:href="@{/style/base.css}" >
    <link rel="stylesheet" th:href="@{/style/abs.css}"  >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/font/fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/all.css">
</head>

<body>
    <div id="wrapper1">
        <header id="header">
            <a href="/home" class="Logo">PTITHOTEL</a>
        </header>
        <div class="content_manage_content">
            <div class="content_manage_container">
                <ul class = "js-listOrder">
                   
                </ul>
                
            </div>

        </div>
    </div>

    <script th:src="@{/js/cart.js}"></script>
</body>

</html>