<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/style/home.css}">
	<link rel="stylesheet" th:href="@{/style/cart.css}">
	<link rel="stylesheet" th:href="@{assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css}">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/style/order.css}">
	<title>Hotel PTIT</title>
</head>

<body>
	<div class="order_main hide">
		<div class="order_main_box">
			<div class="order_main_form">
				<div class="order_form_header">
					<p>Thông tin đặt phòng</p>
					
						<div class="order_content_item_cancel">
							<i class="fa-solid fa-xmark"></i>
						</div>
					
				</div>

				<div class="order_form_content">
					<div class="order_form_content_label">
						<div class="order_form_content_label1">
							<p>Nơi ở đã chọn</p>
						</div>
						<div class="order_form_content_label_right">
							<div class="order_form_content_label_rightbox">

								<div class="order_form_content_label2">
									<i class="fa-solid fa-house-chimney"></i>
									<p>Số phòng</p>
								</div>
								<div class="order_form_content_label2">
									<i class="fa-regular fa-calendar-days"></i>
									<p>Lịch</p>
								</div>
								<div class="order_form_content_label2">
									<i class="fa-solid fa-money-check-dollar"></i>
									<p>Giá tiền</p>
								</div>
							</div>
						</div>
					</div>
					<div class="order_form_content_listitems">
						<div class="order_form_content_item">
							<div class="order_form_content_item_left">

								<img class="jsImgRoomOrder" src="/styles/img/banner/banner1.jpg" alt="">
								<div class="order_content_item_1">
									<p class="order_content_item_name">
										Bridge Resort
									</p>
									<p class="order_content_item_type">
										Phòng hai giường đơn
									</p>
								</div>
							</div>
							<div class="order_form_content_item_right">
								<div class="order_content_item_number">
									1
								</div>
								<div class="order_content_item_date">
									<input class="datein" type="date"><br>
									<input class="dateout" type="date">
								</div>
								<div class="order_content_item_price">
									0
								</div>
							</div>

						</div>

					</div>
					<div class="order_form_footer">
						<div class="order_form_footer_left">
							<p class="order_form_wantadditem_front">Tổng thanh toán</p>
							<a href="#" style="color:white">
								<div class="order_form_wantadditem">
									<p class="order_form_wantadditem_back">Tôi muốn đặt thêm</p>
								</div>
							</a>
						</div>
						<div class="order_form_footer_right">
							<div class="order_form_footer_left">
								<p class="order_form_wantadditem_front js-price">0 đ</p>
							</div>
							<div class="btn-pay">Xác Nhận</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper1">
		<header id="header">
			<a href="/home" class="Logo">PTITHOTEL</a>
			<div class="headerInput">
				<i class="fa-solid fa-magnifying-glass searchIcon"></i>
				<input class="input" placeholder="Nhập nội dung tìm kiếm">
				<button class="searchBtn">Tìm Kiếm</button>
			</div>
			<div class="auth">
			</div>
		</header>
		<div id="slider">
			<div class="sliderImg"></div>
		</div>
		<div id="content">
			<div class="contentTitle">
				<span class="title1">Book Đi nào. Mãi bên nhau bạn nhé!</span>
				<span class="title2">Top nơi sang chảnh đón hè đã sãng sàng với PTITHOTEL. Book ngay đi nè</span>
			</div>
			<ul class="listRoom">
			</ul>
			<div class="hostPlace">
				<span class="hostPlaceHeader">Các địa điểm nổi bật</span>
				<ul class="placeList">
					<li class="placeItem">
						<a href="#">
							<div class="placeImg"></div>
							<span class="placeName">Villa Vip Pro No1</span>
						</a>
					</li>
					<li class="placeItem">
						<a href="#">
							<div class="placeImg"></div>
							<span class="placeName">Villa Vip Pro No1</span>
						</a>
					</li>
					<li class="placeItem">
						<a href="#">
							<div class="placeImg"></div>
							<span class="placeName">Villa Vip Pro No1</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
		<footer class="footer">
			<div class="grid">
				<div class="grid__row">
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Chăm sóc khách hàng</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Trung tâm trợ giúp</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Hot line: 66771508</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Hướng dẫn mua hàng</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Giới thiệu</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Giới thiệu</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Tuyển dụng</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Điều khoản</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Danh mục</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Địa điểm nổi bật</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Khách sạn nổi bật</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Tour nổi bật</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Theo dõi chúng tôi</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">
									<i class="fab fa-facebook footer_list-item-icon"></i>
									Facebook
								</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">
									<i class="fab fa-instagram footer_list-item-icon"></i>
									Instagram
								</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">
									<i class="fab fa-linkedin footer_list-item-icon"></i>
									Linkedin
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="grid">
					<p class="footer__text">2023 - Bản quyền thuộc về Công ty của HOTELPTIT</p>
				</div>
			</div>
		</footer>

	</div>
	<script th:src="@{/js/home.js}"></script>
</body>

</html>