<!DOCTYPE html>
<html lang="en">

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/style/home.css}">
	<link rel="stylesheet" th:href="@{assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css}">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet">
	<title>Document</title>
</head>

<body>
	<div id="wrapper1">
		<header id="header">
			<a href="#" class="Logo">Traverlcom</a>
			<div class="headerInput">
				<i class="fa-solid fa-magnifying-glass searchIcon"></i>
				<input class="input" placeholder="Nhập nội dung tìm kiếm">
				<button class="searchBtn">Tìm Kiếm</button>
			</div>
			<div class="auth">
			</div>
		</header>
		<div id="slider">
			<div class="sliderImg"></div>
		</div>
		<div id="content">
			<div class="contentTitle">
				<span class="title1">Book Đi nào. Mãi bên nhau bạn nhé!</span>
				<span class="title2">Top nơi sang chảnh đón hè đã sãng sàng với Traverlcom. Book ngay đi nè</span>
			</div>
			<ul class="listRoom">
			</ul>
			<div class="hostPlace">
				<span class="hostPlaceHeader">Các địa điểm nổi bật</span>
				<ul class="placeList">
					<li class="placeItem">
						<a href="#">
							<div class="placeImg"></div>
							<span class="placeName">Villa Vip Pro No1</span>
						</a>
					</li>
					<li class="placeItem">
						<a href="#">
							<div class="placeImg"></div>
							<span class="placeName">Villa Vip Pro No1</span>
						</a>
					</li>
					<li class="placeItem">
						<a href="#">
							<div class="placeImg"></div>
							<span class="placeName">Villa Vip Pro No1</span>
						</a>
					</li>
				</ul>
			</div>

		</div>
		<footer class="footer">
			<div class="grid">
				<div class="grid__row">
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Chăm sóc khách hàng</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Trung tâm trợ giúp</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Hot line: 66771508</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Hướng dẫn mua hàng</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Giới thiệu</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Giới thiệu</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Tuyển dụng</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Điều khoản</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Danh mục</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Địa điểm nổi bật</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Khách sạn nổi bật</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">Tour nổi bật</a>
							</li>
						</ul>
					</div>
					<div class="grid__column-2-4">
						<h3 class="footer__heading">Theo dõi chúng tôi</h3>
						<ul class="footer__list">
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">
									<i class="fab fa-facebook footer_list-item-icon"></i>
									Facebook
								</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">
									<i class="fab fa-instagram footer_list-item-icon"></i>
									Instagram
								</a>
							</li>
							<li class="footer_list-item">
								<a href="" class="footer_list-item-link">
									<i class="fab fa-linkedin footer_list-item-icon"></i>
									Linkedin
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="grid">
					<p class="footer__text">2023 - Bản quyền thuộc về Công ty của Traverlcom</p>
				</div>
			</div>
		</footer>

	</div>
	<script th:src="@{/js/home.js}"></script>
</body>

</html>