*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formlogin_main{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(213, 216, 218);
    display: flex;
    justify-content: center;
    align-items: center;  
    line-height: 1.6;
}
.formlogin_box{
    
}
.formlogin_form_main{
    width: 60%;
    border-radius: 4px;
    background-color: white;
    display: flex;
}
.formlogin_form_left{
    width: 38%;

}
.formlogin_form_left_header{
    font-size: 36px;
    color:var(--primary-color);
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-weight: bold;

}
.form_left_main_title{
    font-size: 32px;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
}
.form_left_main_title2{
    font-size: 24px;
    margin: 26px 0 24px 0;
}
.formlogin_form_right{
    width: 62%;
}
.formlogin_form_left_box{
    margin: 16px;
}
.formlogin_form_left_main{

}
.form_left_main_input-item{
    margin-bottom: 16px;
    border-left: 3px solid var(--primary-color);
    
}
.form_left_main_input-item p{
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0px 0 12px 18px;
    padding: 6px 0 0 0;
}
.form_left_main_input-item input{
    font-size: 22px;
    border: none;
    margin: 0 0 0px 18px;
    outline: none;
}
.form_left_main_input-item{

}
.form_left_main_input_confirm a{
    margin-left:18px;
    font-size: 22px;
}
.form_left_main_input_confirm label{
    margin-left:4px;
    font-size: 22px;
}
.form_left_main_button_item{
    
    background-color: var(--primary-color);
    border-radius: 4px;
    text-align: center;
    width: 190px;
    height:48px ;
    line-height: 48px;
}
.form_left_main_button_item p{ 
    color:white;
}
.form_left_main_input_confirm{
    display: flex;
    justify-content: space-between;

}
.form_left_main_button{
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.form_left_main_button a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-bottom: 8px;
}
.signup{
    background-color: white;
    border: 1px solid var(--primary-color) ;
    
}
.signup p{
    color: var(--primary-color);
}
.form_left_main_button_item-with{
    
    background-color: rgb(102, 102, 225);
    width: 190px;
    height:48px ;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    color: white;
    margin-top: 12px;
}
.form_left_main_button_item-with p{
    display: inline;
    margin-left: 8px;
}
.form_left_main_button_item-with i{
    font-size: 24px;
}
.twitter{
    background-color: rgb(43 173 241);
}
.formlogin_form_right{

}
.formlogin_form_right_img{
    background-image:url(/styles/img/banner/city.jpg);
    width: 100%;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.login_form_right_title{
    font-size: 32px;
    color:white;
    margin-bottom: 32px;
    line-height: 1.6;
    font-weight: bold;

}
.formlogin_form_right_box{
    margin:0 0 0 68px;
    padding-top: 64px;
    width: 70%;
}
.form_right_item{
    margin-bottom: 24px;
}
.form_right_item p{
    color:white;
    font-size: 24px;
    display: inline;
    
}
.form_right_item i{
    font-size: 24px;
    color: white;
    margin-right: 8px;
}
.form_right_main_button{
    background-color: var(--primary-color);
    border: 1px solid white;
    width:46% ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.form_right_main_button p{
    color: white;
    font-size: 24px; 
}
/* --------------------------------------------------------------------- */
.link_login{
    text-decoration: none;;
    color: var(--primary-color);
}
.form_left_main_button_submit{
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 4px;
    margin: 16px 0 0 8px;

}
.form_right_main_button a{
    text-decoration: none;
    padding: 8px 0 8px 0;
}
.signupform_left_main_signupbutton {
    width: 100%;
    margin: 26px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

}
.form_left_main_button_submit a{
    text-decoration: none;
}

.signupform_left_main_signupbutton p{
    font-size: 24px;
    color: white;
    text-align: center;

}